<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @employee.id %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @employee.birth_date %>
</p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @employee.gender %>
</p>

<p>
  <strong>Title:</strong>
  <%= @employee.title %>
</p>

<h4>Children</h4>

<% if @children.length == 0 %>
  
 <p>This employee does not have children</p>

<% else %>

  <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Birth date</th>
      <th>Relationship</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td><%= child.id %></td>
        <td><%= child.first_name %></td>
        <td><%= child.last_name %></td>
        <td><%= child.gender %></td>
        <td><%= child.birth_date %></td>
        <td><%= child.relationship %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>